<html lang="zh-Hant" xml:lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <title>3du.tw 萌典測試版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="IE=edge,chrome=IE9" http-equiv="X-UA-Compatible">
    <link href="stylesheets/styles.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <%= livereload_js unless ENV["RACK_ENV"] == "production" %>
</head>
<body>
    <%= yield %>
</body>
</html>
