    <div id="result">
        <h1 class="title"><a href="#萌">萌</a></h1>
        <div class="bopomofo">ㄇㄥˊ</div>
        <div class="entry">
            <div>

<ol>
<li><p class="definition">
    <span class="def"><a href="#草木">草木</a><a href="#初">初</a><a href="#生">生</a><a href="#的">的</a><a href="#芽">芽</a>。</span>

    <span class="quote"><a href="#說文解字">說文解字</a>：「<a href="#萌">萌</a>，<a href="#艸">艸</a><a href="#芽">芽</a><a href="#也">也</a>。」</span><span class="quote"><a href="#唐">唐</a>．<a href="#韓愈">韓愈</a>､<a href="#劉">劉</a><a href="#師">師</a><a href="#服">服</a>､<a href="#侯">侯</a><a href="#喜">喜</a>､<a href="#軒轅">軒轅</a><a href="#彌">彌</a><a href="#明">明</a>．<a href="#石">石</a><a href="#鼎">鼎</a><a href="#聯句">聯句</a>：「<a href="#秋">秋</a><a href="#瓜">瓜</a><a href="#未">未</a><a href="#落">落</a><a href="#蒂">蒂</a>，<a href="#凍">凍</a><a href="#芋">芋</a><a href="#強">強</a><a href="#抽">抽</a><a href="#萌">萌</a>。」</span>

</p></li><li><p class="definition">
    <span class="def"><a href="#事物">事物</a><a href="#發生">發生</a><a href="#的">的</a><a href="#開端">開端</a><a href="#或">或</a><a href="#徵兆">徵兆</a>。</span>

    <span class="quote"><a href="#韓非子">韓非子</a>．<a href="#說">說</a><a href="#林">林</a><a href="#上">上</a>：「<a href="#聖人">聖人</a><a href="#見">見</a><a href="#微">微</a><a href="#以">以</a><a href="#知">知</a><a href="#萌">萌</a>，<a href="#見">見</a><a href="#端">端</a><a href="#以">以</a><a href="#知">知</a><a href="#末">末</a>。」</span><span class="quote"><a href="#漢">漢</a>．<a href="#蔡邕">蔡邕</a>．<a href="#對">對</a><a href="#詔">詔</a><a href="#問">問</a><a href="#灾">灾</a><a href="#異">異</a><a href="#八">八</a><a href="#事">事</a>：「<a href="#以">以</a><a href="#杜漸防萌">杜漸防萌</a>，<a href="#則">則</a><a href="#其">其</a><a href="#救">救</a><a href="#也">也</a>。」</span>

</p></li><li><p class="definition">
    <span class="def"><a href="#人民">人民</a>。<a href="#通">通</a>「<a href="#氓">氓</a>」。<a href="#如">如</a>：「<a href="#萌黎">萌黎</a>」､「<a href="#萌隸">萌隸</a>」。</span>



</p></li><li><p class="definition">
    <span class="def"><a href="#姓">姓</a>。<a href="#如">如</a><a href="#五代">五代</a><a href="#時">時</a><a href="#蜀">蜀</a><a href="#有">有</a><a href="#萌">萌</a><a href="#慮">慮</a>。</span>



</p></li><li><p class="definition">
    <span class="def"><a href="#發芽">發芽</a>。</span>
    <span class="example"><a href="#如">如</a>：「<a href="#萌芽">萌芽</a>」。</span>
    <span class="quote"><a href="#楚辭">楚辭</a>．<a href="#王">王</a><a href="#逸">逸</a>．<a href="#九思">九思</a>．<a href="#傷">傷</a><a href="#時">時</a>：「<a href="#明">明</a><a href="#風">風</a><a href="#習習">習習</a><a href="#兮">兮</a><a href="#龢">龢</a><a href="#暖">暖</a>，<a href="#百草">百草</a><a href="#萌">萌</a><a href="#兮">兮</a><a href="#華">華</a><a href="#榮">榮</a>。」</span>

</p></li><li><p class="definition">
    <span class="def"><a href="#發生">發生</a>。</span>
    <span class="example"><a href="#如">如</a>：「<a href="#故態復萌">故態復萌</a>」。</span>
    <span class="quote"><a href="#管子">管子</a>．<a href="#牧民">牧民</a>：「<a href="#惟">惟</a><a href="#有道">有道</a><a href="#者">者</a>，<a href="#能">能</a><a href="#備">備</a><a href="#患">患</a><a href="#於">於</a><a href="#未">未</a><a href="#形">形</a><a href="#也">也</a>，<a href="#故">故</a><a href="#禍">禍</a><a href="#不">不</a><a href="#萌">萌</a>。」</span><span class="quote"><a href="#三國演義">三國演義</a>．<a href="#第一">第一</a><a href="#回">回</a>：「<a href="#若">若</a><a href="#萌">萌</a><a href="#異心">異心</a>，<a href="#必">必</a><a href="#獲">獲</a><a href="#惡報">惡報</a>。」</span>

</p></li></ol></div></div></div>

<div id="query-box">
<input id="query" style="" autofocus="" speech="" x-webkit-speech="" autocomplete="off" placeholder="請輸入欲查詢的字詞，例如：萌" class="ui-autocomplete-input"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible">11 results are available, use up and down arrow keys to navigate.</span>
</div>
<div id="moe" style="display: none">
</div>


<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none; top: 339px; left: 10px; width: 1410px;"><li class="ui-menu-item" role="presentation"><a id="ui-id-24" class="ui-corner-all" tabindex="-1">萌</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-25" class="ui-corner-all" tabindex="-1">萌兆</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-26" class="ui-corner-all" tabindex="-1">萌兒</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-27" class="ui-corner-all" tabindex="-1">萌動</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-28" class="ui-corner-all" tabindex="-1">萌櫱</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-29" class="ui-corner-all" tabindex="-1">萌生</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-30" class="ui-corner-all" tabindex="-1">萌發</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-31" class="ui-corner-all" tabindex="-1">萌芽</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-32" class="ui-corner-all" tabindex="-1">萌茁</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-33" class="ui-corner-all" tabindex="-1">萌隸</a></li><li class="ui-menu-item" role="presentation"><a id="ui-id-34" class="ui-corner-all" tabindex="-1">萌黎</a></li></ul>
